@import url(http://fonts.googleapis.com/css?family=Roboto:400);
.form-login {
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    border-color:#d2d2d2;
    border-width: 5px;
}

h3 { 
 border:0 solid; 
 border-bottom-width:1px;
 padding-bottom:10px;
 text-align: center;
}

.form-control {
    border-radius: 10px;
}

.wrapper {
    text-align: center;
}
.input-sm {
    height: 32px;
    padding: 5px 10px;
    font-size: 15px;
    line-height: 1.5;
    border-radius: 10px;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 600;
}
